body {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size:14px;
  line-height:150%;
  color:#333333;
  font-weight: 400;
  text-transform: uppercase;

}

h3,
.title {
  font-size:21px;
  line-height:100%;
  color:#000000;
  font-weight:700;
  text-transform: uppercase;
}

h2 {
  font-size:30px;
  line-height:120%;
  color:#000000;
  font-weight: 700;
  text-transform: uppercase;
}
